.assignments{
	line-height: 15px;
}

.clear{
	clear: both;
}

.assignment{
	margin: 10px;
	border: solid 1px black;
}

.assignment[data-inactive]{
	background-color: red;
}

.assignment .name{
	height: 15px;
}

.assignment .progress{
	height: 15px;
	margin-top: -15px;
	background-color: lightgreen;
	width: 0%;
}

.assignment .criteria{
	height: 15px;
}

.assignment .criteria .name{
	height: 15px;
}

.menu{
	width: 500px;
}

.menu .selectables{
	width: 460px;
	float: left;
}

#menu{
	display: inline-block;
	height: 100%;
}

.menu input[type="text"],
.menu input[type="submit"],
.menu select{
	width: 100%;	
}
